<div class="ui grid container">
  <div class="four wide column"><%= link_to "新規登録", new_laughter_path %></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
</div>
<div class="ui grid">
      <%= render 'laughters/index' %>
  </div>
</div>